* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}


body {

    background-color: rgb(205, 207, 209);

}

.row{
   

    display: block;
}

#ul{
    background-color: brown;
    max-width: 1260px;
    margin: 0 auto;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;

}
li{
    display: block;
}
.sp {
    float: left;
    width: 300px;
    height: 300px;
    min-height: 545px;
    background-color: aliceblue;
    margin-bottom: 10px;
    margin-left: 12px;
    position: relative;
    text-align: center;
}

#button {
    width: 80px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: #ff2f00;
    border-radius: 5px;
    border: 1px #FC0 solid;
    padding: 5px 0px;
    color: #EEE;

}
 #button:hover{
    background-color: #FC0;
    color: #ff0000;
}

.sp .img {
    width: calc(100% - 5px);
    min-height: 220px;
    text-align: center;

}

.sp .img img {
    width: 100%;

}



/* .img img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}
*/
.sp a {

    text-decoration: none;
    margin: auto;
    color: rgba(0, 0, 0, 0.628);

}
.sp a :hover{
    color: rgb(49, 146, 237);
}

.sp span {
    color: #EEE;
    padding: 5px;
    background-color: #ff2f00;
    border-radius: 5px;
}

.sp p {
    position: relative;
    top: 20px;
    right: 70px;
}

.icon1 p {
    padding-top: 17px;
    padding-left: 130px;
    text-align: left;

}


.icon1 img {
    padding-top: 30px;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 10px 10px 10px 10px;

}

.xem a {

    text-decoration: none;
    color: rgb(105, 166, 237);
    font-size: 30px;
    margin: 0px;

}

.xem a:hover {
    color: rgb(232, 56, 25);
}

.xem {
    position: relative;
    text-align: center;
    top: 20px;
}
